@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Prompt", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.carousel-container {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.section-wrapper {
  position: relative;
  margin-top: 20px;
}

body {
  background-color: #000000;
}
/* Responsive */
/* md */
@media (width >= 48rem) {
  .section-wrapper {
    margin-top: 50px;
  }
}

/* lg */
@media (width >= 64rem) {
  .section-wrapper {
    margin-top: 100px;
  }
}

/* FONTS */
/* Regular */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Thin */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Thin Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* ExtraLight Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ExtraBold Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Black Italic */
@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/Prompt-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
